<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그룹 관리</title>
    <link rel="stylesheet" href="static/group/group_edit.css">
</head>

<body>
    <div class="group-edit-container">
        <div class="group-edit-content">
            <div class="group-edit-header">
                <p>간단 코드 리뷰</p>
                <p>{{ user.nickname }}</p>
                <a href="/logout">로그아웃</a>
            </div>
            <div class="group-edit-sidebar">
                <div class="group-edit-sidebar-title">
                    <p>그룹 관리</p>
                </div>
                <div class="input-group">
                    <input type="text" name="" id="">
                </div>
                <div class="button-group">
                    <a href="" id="btn-group-delete">그룹 삭제</a>
                    <a href="" id="btn-code-edit">코드 수정</a>
                </div>
            </div>
            <div class="group-edit-actions">
                <a href="" id="btn-group-create">그룹 생성</a>
                <a href="" id="btn-code-upload">코드 올리기</a>
            </div>
            <div class="group-edit-tabs">
                <a href="" id="tab-member"> 멤버</a>
                <a href="" id="tab-code">소스 코드</a>
                <a href="" id="btn-member-invite">멤버 초대</a>
            </div>
            <div class="group-edit-list">
                {% if tab == 'member' %}
                    {% for item in items %}
                    <div class="member-item">
                        <div class="member-name">
                            {{ item.codeName}}
                        </div>
                        <div class="member-owner">
                            {{item.owner}}
                        </div>
                        <div class="member-date">
                            {{item.uploadDate}}
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    {% for item in items %}
                    <div class="code-item">
                        <div class="code-name">
                            {{ item.codeName}}
                        </div>
                        <div class="code-owner">
                            {{item.owner}}
                        </div>
                        <div class="code-date">
                            {{item.uploadDate}}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>