<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그룹 생성</title>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>
    <div class="main-container">
        <div class="main-content">
            <div class="main-header">
                <p>간단 코드 리뷰</p>
                <p>{{ user.nickname }}</p>
                <a href="/logout">로그아웃</a>
            </div>
            <div class="group-edit-side">
                <div class="side-text">
                    <p>그룹 생성</p>
                </div>
                <div class="input-group-name">
                    <input type="text" name="" id="">
                </div>
                <div class="group-create-button">
                    <a href="/main" id="cancel">취소</a>
                    <a href="" id="group-create">생성</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>