<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 화면</title>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>
    <div class="main-container">
        <div class="main-content">
            <div class="main-header">
                <p>간단 코드 리뷰</p>
                <p>{{ user.nickname }}</p>
                <a href="/logout">로그아웃</a>
            </div>
            <div class="group-list">
                {% for group in groups %}
                <div>
                    <a href="/api/group/">
                        <p>{{ group.name }}</p>
                        <div id="group-setting-icon">
                            <img src="" alt="">
                        </div>
                    </a>
                </div>
                {% endfor%}
            </div>
            <div class="main-actions">
                <a href="" id="group-add">그룹 생성</a>
                <a href="" id="code-upload">코드 올리기</a>
            </div>
            <div class="code-list">
                {% for item in items %}
                <div class="code-item">
                    <div class="code-name">
                        {{ item.codeName}}
                    </div>
                    <div class="code-owner">
                        {{item.owner}}
                    </div>
                    <div class="code-date">
                        {{item.uploadDate}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>